<div class="container">
    <mat-grid-list cols="1" gutterSize="10px" rowHeight="200">
        <mat-grid-tile></mat-grid-tile>
    </mat-grid-list>
</div>
<div class="headeralign" fxLayout="row" fxFlexAlign="center center">
    <h1 class="alacarte">
        A'la carte étlap
    </h1>
</div>
<div>
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Levesek
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-list>
                <mat-list-item>
                    <p>Vargányakrémleves - tápióka - marinált gomba</p>
                    <div>
                        <mat-icon>horizontal_rule</mat-icon>
                    </div>
                    <p>2450Ft</p>
                </mat-list-item>
                <mat-list-item>
                    <p>Kacsaleves - füstölt parenyicás derelye - marinált chili</p>
                    <div>
                        <mat-icon>horizontal_rule</mat-icon>
                    </div>
                    <p>2450Ft</p>
                </mat-list-item>
            </mat-list>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Előételek
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-list>
                <mat-list-item>
                    <p>Füstölt pisztráng - kovászos uborka - tejföl - lenmag ropogós</p>
                    <div>
                        <mat-icon>horizontal_rule</mat-icon>
                    </div>
                    <p>2990Ft</p>
                </mat-list-item>
            </mat-list>
            <mat-list>
                <mat-list-item>
                    <p>Kacsakocsonya - mustrámag - snidling majonéz</p>
                    <div>
                        <mat-icon>horizontal_rule</mat-icon>
                    </div>
                    <p>2590Ft</p>
                </mat-list-item>
            </mat-list>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                Főételek
                </mat-panel-title>
            </mat-expansion-panel-header>
                <mat-list>
                    <mat-list-item>
                        <p>Cézár saláta</p>
                        <div>
                            <mat-icon>horizontal_rule</mat-icon>
                        </div>
                        <p>4050Ft</p>
                    </mat-list-item>
                </mat-list>
                <mat-list>
                    <mat-list-item>
                        <p>Édesburgonya - marinált szilva - karfiol - kelbimbó - mogyoró</p>
                        <div>
                            <mat-icon>horizontal_rule</mat-icon>
                        </div>
                        <p>3950Ft</p>
                    </mat-list-item>
                </mat-list>
                <mat-list>
                    <mat-list-item>
                        <p>Csirke supreme - karfiol - fekete gnocchi</p>
                        <div>
                            <mat-icon>horizontal_rule</mat-icon>
                        </div>
                        <p>4590Ft</p>
                    </mat-list-item>
                </mat-list>
                <mat-list>
                    <mat-list-item>
                        <p>Sertésszűz - sült lilakáposzta - Konfitált fokhagymás burgonyapüré - jus</p>
                        <div>
                            <mat-icon>horizontal_rule</mat-icon>
                        </div>
                        <p>4990Ft</p>
                    </mat-list-item>
                </mat-list>
                <mat-list>
                    <mat-list-item>
                        <p>Nyúl - pisztácia - kápiakrém - pirított tarhonya - marinált zöldség</p>
                        <div>
                            <mat-icon>horizontal_rule</mat-icon>
                        </div>
                        <p>4290Ft</p>
                    </mat-list-item>
                </mat-list>
                <mat-list>
                    <mat-list-item>
                        <p>Marhapofa - gratin burgonya - szilva - cékla</p>
                        <div>
                            <mat-icon>horizontal_rule</mat-icon>
                        </div>
                        <p>4590Ft</p>
                    </mat-list-item>
                </mat-list>
                <mat-list>
                    <mat-list-item>
                        <p>Lazac - articsóka ragu - szójabab - spenót - beurre blanc</p>
                        <div>
                            <mat-icon>horizontal_rule</mat-icon>
                        </div>
                        <p>5990Ft</p>
                    </mat-list-item>
                </mat-list>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                Desszertek
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-list>
                <mat-list-item>
                    <p>Rákóczi-túrós</p>
                    <div>
                        <mat-icon>horizontal_rule</mat-icon>
                    </div>
                    <p>2490Ft</p>
                </mat-list-item>
            </mat-list>
            <mat-list>
                <mat-list-item>
                    <p>Lúdláb</p>
                    <div>
                        <mat-icon>horizontal_rule</mat-icon>
                    </div>
                    <p>2490Ft</p>
                </mat-list-item>
            </mat-list>
        </mat-expansion-panel>
    </mat-accordion>
</div>