<mat-nav-list class="sidenav-list">
    <a mat-list-item routerLink="/rolunk" (click)="OnToggleCloseSidenav()">
        <mat-icon matListIcon>help_outline</mat-icon>
        <h3 matLine>Szállodánkról</h3>
    </a>
    <a mat-list-item routerLink="/galeria" (click)="OnToggleCloseSidenav()">
        <mat-icon matListIcon>collections</mat-icon>
        <h3 matLine>Galéria</h3>
    </a>
    <a mat-list-item routerLink="/kapcsolat" (click)="OnToggleCloseSidenav()">
        <mat-icon matListIcon>alternate_email</mat-icon>
        <h3 matLine>Elérhetőségek</h3>
    </a>
</mat-nav-list>