<div class="container">
    <mat-grid-list cols="1" gutterSize="10px" rowHeight="200">
        <mat-grid-tile></mat-grid-tile>
    </mat-grid-list>
</div>
<div class="headeralign" fxLayout="row" fxFlexAlign="center center">
    <h1 class="gallery">
        Galéria
    </h1>
</div>
<div>
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Külső
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-grid-list cols="3" gutterSize="10px">
                <mat-grid-tile class="picture">
                    <img src="assets/képek/külső/kulso_1.jpg">
                </mat-grid-tile>
                <mat-grid-tile class="picture">
                    <img src="assets/képek/külső/kulso_2.jpg">
                </mat-grid-tile>
                <mat-grid-tile class="picture">
                    <img src="assets/képek/külső/kulso_3.jpg">
                </mat-grid-tile>
                <mat-grid-tile class="picture">
                    <img src="assets/képek/külső/kulso_4.jpg">
                </mat-grid-tile>
                <mat-grid-tile class="picture">
                    <img src="assets/képek/külső/kulso_5.jpg">
                </mat-grid-tile>
                <mat-grid-tile class="picture">
                    <img src="assets/képek/külső/kulso_6.jpg">
                </mat-grid-tile>
            </mat-grid-list>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Étterem
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-grid-list cols="3" gutterSize="10px">
                <mat-grid-tile class="picture">
                    <img src="assets/képek/étterem/etterem_1.jpg">
                </mat-grid-tile>
                <mat-grid-tile class="picture">
                    <img src="assets/képek/étterem/etterem_2.jpg">
                </mat-grid-tile>
                <mat-grid-tile class="picture">
                    <img src="assets/képek/étterem/etterem_3.jpg">
                </mat-grid-tile>
                <mat-grid-tile class="picture">
                    <img src="assets/képek/étterem/etterem_4.jpg">
                </mat-grid-tile>
                <mat-grid-tile class="picture">
                    <img src="assets/képek/étterem/etterem_5.jpg">
                </mat-grid-tile>
                <mat-grid-tile class="picture">
                    <img src="assets/képek/étterem/etterem_6.jpg">
                </mat-grid-tile>
            </mat-grid-list>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Lobby
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-grid-list cols="3" gutterSize="10px">
                <mat-grid-tile class="picture">
                    <img src="assets/képek/lobby/lobby_1.jpg">
                </mat-grid-tile>
                <mat-grid-tile class="picture">
                    <img src="assets/képek/lobby/lobby_2.jpg">
                </mat-grid-tile>
                <mat-grid-tile class="picture">
                    <img src="assets/képek/lobby/lobby_3.jpg">
                </mat-grid-tile>
                <mat-grid-tile class="picture">
                    <img src="assets/képek/lobby/lobby_4.jpg">
                </mat-grid-tile>
                <mat-grid-tile class="picture">
                    <img src="assets/képek/lobby/lobby_5.jpg">
                </mat-grid-tile>
                <mat-grid-tile class="picture">
                    <img src="assets/képek/lobby/lobby_6.jpg">
                </mat-grid-tile>
            </mat-grid-list>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Szobák
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Standard
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-grid-list cols="3" gutterSize="10px">
                    <mat-grid-tile class="picture">
                        <img src="assets/képek/szobák/standard_1.jpg">
                    </mat-grid-tile>
                    <mat-grid-tile class="picture">
                        <img src="assets/képek/szobák/standard_2.jpg">
                    </mat-grid-tile>
                    <mat-grid-tile class="picture">
                        <img src="assets/képek/szobák/standard_3.jpg">
                    </mat-grid-tile>
                    <mat-grid-tile class="picture">
                        <img src="assets/képek/szobák/standard_4.jpg">
                    </mat-grid-tile>
                    <mat-grid-tile class="picture">
                        <img src="assets/képek/szobák/standard_5.jpg">
                    </mat-grid-tile>
                </mat-grid-list>
            </mat-expansion-panel>   
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Deluxe
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-grid-list cols="3" gutterSize="10px">
                    <mat-grid-tile class="picture">
                        <img src="assets/képek/szobák/deluxe_1.jpg">
                    </mat-grid-tile>
                    <mat-grid-tile class="picture">
                        <img src="assets/képek/szobák/deluxe_2.jpg">
                    </mat-grid-tile>
                    <mat-grid-tile class="picture">
                        <img src="assets/képek/szobák/deluxe_3.jpg">
                    </mat-grid-tile>
                    <mat-grid-tile class="picture">
                        <img src="assets/képek/szobák/deluxe_4.jpg">
                    </mat-grid-tile>
                    <mat-grid-tile class="picture">
                        <img src="assets/képek/szobák/deluxe_5.jpg">
                    </mat-grid-tile>
                </mat-grid-list>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Executive
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-grid-list cols="3" gutterSize="10px">
                    <mat-grid-tile class="picture">
                        <img src="assets/képek/szobák/executive_1.jpg">
                    </mat-grid-tile>
                    <mat-grid-tile class="picture">
                        <img src="assets/képek/szobák/executive_2.jpg">
                    </mat-grid-tile>
                    <mat-grid-tile class="picture">
                        <img src="assets/képek/szobák/executive_3.jpg">
                    </mat-grid-tile>
                </mat-grid-list>
            </mat-expansion-panel>   
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Junior Lakosztály
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-grid-list cols="3" gutterSize="10px">
                    <mat-grid-tile class="picture">
                        <img src="assets/képek/szobák/junior_1.jpg">
                    </mat-grid-tile>
                    <mat-grid-tile class="picture">
                        <img src="assets/képek/szobák/junior_2.jpg">
                    </mat-grid-tile>
                    <mat-grid-tile class="picture">
                        <img src="assets/képek/szobák/junior_3.jpg">
                    </mat-grid-tile>
                </mat-grid-list>
            </mat-expansion-panel> 
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Lakosztály
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-grid-list cols="3" gutterSize="10px">
                    <mat-grid-tile class="picture">
                        <img src="assets/képek/szobák/suite_1.jpg">
                    </mat-grid-tile>
                    <mat-grid-tile class="picture">
                        <img src="assets/képek/szobák/suite_2.jpg">
                    </mat-grid-tile>
                    <mat-grid-tile class="picture">
                        <img src="assets/képek/szobák/suite_3.jpg">
                    </mat-grid-tile>
                    <mat-grid-tile class="picture">
                        <img src="assets/képek/szobák/suite_4.jpg">
                    </mat-grid-tile>
                    <mat-grid-tile class="picture">
                        <img src="assets/képek/szobák/suite_5.jpg">
                    </mat-grid-tile>
                </mat-grid-list>
            </mat-expansion-panel>       
        </mat-expansion-panel>
    </mat-accordion>
</div>