<mat-grid-list cols="2" rowHeight="2:1" gutterSize="10px">
    <mat-grid-tile rowspan="3">
        <div>
            <mat-list>
                <h1>Standard Szoba felszerelsége:</h1>
                <mat-list-item>
                    <mat-icon matListIcon>check</mat-icon>
                    <h3 matLine >Egyénileg szabályozható légkondicionálás</h3>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon matListIcon>check</mat-icon>
                    <h3 matLine>LCD TV (műholdas csatornák)</h3>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon matListIcon>check</mat-icon>
                    <h3 matLine>Nagy sebességű internet kapcsolat</h3>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon matListIcon>check</mat-icon>
                    <h3 matLine>Telefon</h3>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon matListIcon>check</mat-icon>
                    <h3 matLine>Minibár</h3>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon matListIcon>check</mat-icon>
                    <h3 matLine>Széf (laptop elhelyezésére is alkalmas mérettel)</h3>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon matListIcon>check</mat-icon>
                    <h3 matLine>Bőröndtartó</h3>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon matListIcon>check</mat-icon>
                    <h3 matLine>Vízforraló, kávé- és teabekészítés</h3>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon matListIcon>check</mat-icon>
                    <h3 matLine>Higiéniai és kozmetikai ápoló készlet</h3>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon matListIcon>check</mat-icon>
                    <h3 matLine>Hajszárító</h3>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon matListIcon>check</mat-icon>
                    <h3 matLine>Borotválkozó tükör</h3>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon matListIcon>check</mat-icon>
                    <h3 matLine>Olvasólámpa</h3>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon matListIcon>check</mat-icon>
                    <h3 matLine>Újságok</h3>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon matListIcon>check</mat-icon>
                    <h3 matLine>Párnamenü</h3>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon matListIcon>check</mat-icon>
                    <h3 matLine>Köntös és papucs</h3>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon matListIcon>check</mat-icon>
                    <h3 matLine>Külön nappali és hálószoba</h3>
                </mat-list-item>
            </mat-list>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <img src="/assets/képek/szobák/suite_1.jpg" class="picture" alt="Lakosztály">
    </mat-grid-tile>
    <mat-grid-tile>
        <img src="/assets/képek/szobák/suite_2.jpg" class="picture" alt="Lakosztály">
    </mat-grid-tile>
    <mat-grid-tile>
        <img src="/assets/képek/szobák/suite_3.jpg" class="picture" alt="Lakosztály">
    </mat-grid-tile>
</mat-grid-list>