<div class="container">
    <mat-grid-list cols="1" gutterSize="10px" rowHeight="200">
        <mat-grid-tile></mat-grid-tile>
    </mat-grid-list>
</div>
<div class="headeralign" fxLayout="row" fxFlexAlign="center center">
    <h1 class="bemutatkozas">
        Bemutatkozás
    </h1>
</div>
<div>
    <div class="obj-container">
        <p class="center">
            A Szállide-Szálloda*****Superior kialakítása során az volt a célunk, 
            hogy a betérő vendégeink számára zöld oázist teremtve nyugalommal, 
            kikapcsolódási és szórakozási lehetőségekkel feledtessük a hotel 
            teljes területén a nagyváros stresszét, zaját.
        </p>
    </div>
    <div class="obj-container">
        <p class="center">
            <img src="assets/képek/lobby/lobby_5.jpg">
        </p>
    </div>
    <div class="obj-container">
        <p class="justified">
            Újjászülető hotelünk a szecesszió, az art deco és a modern design 
            elemeiből kialakított teljesen egyedi, ám a cég szállodáira jellemző, 
            jól megkülönböztethető, saját stílust sugároz.
        </p>
    </div>
    <div class="obj-container">
        <p class="justified">
            Az ötcsillagos 50 szobás szállodánk szobakínálatát a változatosság 
            jellemzi. Kétágyas standard szobák mellett deluxe-, valamint adott 
            esetben executive szobákat is kínálunk ingyenes vezeték nélküli 
            Internet elérhetőséggel. A fenti szobatípusokat egészíti ki 10 
            lakosztályunk. Minden szobánkban parketta és extra méretű ágyak 
            biztosítják a maximális kényelmet.
        </p>
        <p class="justified">
            Cégszlogenben „Mert a sas száll ide, száll oda, de a szálloda nem sas ide, sas oda.” 
            is megfogalmazott célunk, 
            hogy gondoskodást sugárzóan tegyük otthonossá az új városi környezetet 
            szabadidős, üzleti, vagy akár konferencia vendégeink számára. 
            Reméljük a hamarosan Önről is gondoskodhatunk!
        </p>
    </div>
</div>