<div>
    <mat-grid-list cols="2" rowHeight="2:1" gutterSize="10px">
        <mat-grid-tile>
            <div class="title-container">
                <button class="title" mat-raised-button color="primary" routerLink="/szobak/standard">
                    Standard Szoba
                </button>
            </div>
        </mat-grid-tile>
        <mat-grid-tile class="standard">
            <img src="/assets/képek/szobák/standard_1.jpg" class="picture" alt="Standard Szoba">
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="title-container">
                <button class="title" mat-raised-button color="primary" routerLink="/szobak/deluxe">
                    Deluxe Szoba
                </button>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <img src="/assets/képek/szobák/deluxe_1.jpg" class="picture" alt="Deluxe Szoba">
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="title-container">
                <button class="title" mat-raised-button color="primary" routerLink="/szobak/executive">
                    Executive Szoba
                </button>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <img src="/assets/képek/szobák/executive_1.jpg" class="picture" alt="Executive Szoba">
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="title-container">
                <button class="title" mat-raised-button color="primary" routerLink="/szobak/junior">
                    Junior Lakosztály
                </button>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <img src="/assets/képek/szobák/junior_1.jpg" class="picture" alt="Junior Lakosztály">
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="title-container">
                <button class="title" mat-raised-button color="primary" routerLink="/szobak/lakosztaly">
                    Lakosztály
                </button>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <img src="/assets/képek/szobák/suite_1.jpg" class="picture" alt="Lakosztály">
        </mat-grid-tile>
    </mat-grid-list>
</div>
  