<div class="center">
    <h1>Rezervációk</h1>
</div>
<div class="padding">
    <mat-accordion>
        <mat-expansion-panel *ngFor="let reservation of all_reservations | async">
            <mat-expansion-panel-header>
                <b>{{reservation.szobatipus}}</b>: {{reservation.erkezes}} -> {{reservation.tavozas}}
            </mat-expansion-panel-header>
            <mat-panel-description>
                <div>
                    <app-reservation-data-line [reservation]="reservation"></app-reservation-data-line>
                </div>
            </mat-panel-description>
        </mat-expansion-panel>
    </mat-accordion>
</div>