<div class="hero-container">
    <div class="foglalas-container">
        <div fxFlex fxFlexLayoutAlign="flex-end">
            <button routerLink="/foglalas" class="foglalas-most" mat-raised-button color="primary">
                Foglalás
            </button>
        </div>
    </div>

    <div class="header-container" fxLayout="row" fxLayoutAlign="center center">
        <h1 class="mat-headline_1">
            Szállide-Szálloda
        </h1>
        
    </div>
    <div class="header-container" fxLayout="row" fxLayoutAlign="center center">
        <h2 class="mat-headline_2">
            A sas is ezt választaná
        </h2>
    </div>
</div>