<div class="container">
    <mat-grid-list cols="1" gutterSize="10px" rowHeight="200">
        <mat-grid-tile></mat-grid-tile>
    </mat-grid-list>
</div>
<div class="headeralign" fxLayout="row" fxFlexAlign="center center">
    <h1 class="elerhetoseg">
        Elérhetőségeink
    </h1>
</div>
<div>
    <mat-list>
        <mat-list-item>
            <mat-icon mat-list-icon>home</mat-icon>
            <h4 mat-line>Szállide-Szálloda</h4>
            <p mat-line>1111 Budapest, Váci út 1.</p>
            <p mat-line>Tel: +36 9 420 6869</p>
            <p mat-line>E-mail: szallideszalloda[at]sashotels.com</p>
        </mat-list-item>
    </mat-list>
    <mat-list>
        <mat-list-item>
            <mat-icon mat-list-icon>star</mat-icon>
            <h4 mat-line>Szobafoglalas</h4>
            <p mat-line>Hétfő-Péntek 8:00-16:00</p>
            <p mat-line>Tel: +36 9 420 6969</p>
            <p mat-line>E-mail: reservation[at]sashotels.com</p>
        </mat-list-item>
    </mat-list>
    <mat-list>
        <mat-list-item>
            <mat-icon mat-list-icon>local_dining</mat-icon>
            <h4 mat-line>Étterem</h4>
            <p mat-line>Hétfő-Péntek 8:00-16:00</p>
            <p mat-line>Tel: +36 9 420 7069</p>
            <p mat-line>E-mail: restaurant[at]sashotels.com</p>
        </mat-list-item>
    </mat-list>
    <mat-list>
        <mat-list-item>
            <mat-icon mat-list-icon>local_bar</mat-icon>
            <h4 mat-line>Bár</h4>
            <p mat-line>Hétfő-Péntek 8:00-16:00</p>
            <p mat-line>Tel: +36 9 420 6970</p>
            <p mat-line>E-mail: bar[at]sashotels.com</p>
        </mat-list-item>
    </mat-list>
    <mat-list>
        <mat-list-item>
            <mat-icon mat-list-icon>contact_support</mat-icon>
            <h4 mat-line>Recepció</h4>
            <p mat-line>Hétfő-Péntek 8:00-16:00</p>
            <p mat-line>Tel: +36 9 420 6869</p>
            <p mat-line>E-mail: reception[at]sashotels.com</p>
        </mat-list-item>
    </mat-list>
    <mat-list>
        <mat-list-item>
            <mat-icon mat-list-icon>local_laundry_service</mat-icon>
            <h4 mat-line>Marketing</h4>
            <p mat-line>Hétfő-Péntek 8:00-16:00</p>
            <p mat-line>Tel: +36 9 420 6971</p>
            <p mat-line>E-mail: marketing[at]sashotels.com</p>
        </mat-list-item>
    </mat-list>
    <mat-list>
        <mat-list-item>
            <mat-icon mat-list-icon>copyright</mat-icon>
            <h4 mat-line>Tulajdonos és üzemeltető</h4>
            <p mat-line>Sas Hotels Kft.</p>
            <p mat-line>Adószám: 22233213-6-88</p>
            <p mat-line>Engedély száma: ZT347652335</p>
        </mat-list-item>
    </mat-list>
</div>