<mat-stepper linear #stepper>
    <mat-step [stepControl]="firstFormGroup" [editable]="isEditable">
      <form [formGroup]="firstFormGroup" #userPost="ngForm" (ngSubmit)="onSubmit(userPost.value)">
        <ng-template matStepLabel>Alap adatok</ng-template>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Személyi igazolvány szám</mat-label>
                <input matInput formControlName="firstCtrl" placeholder="Személyi igazolvány szám" required>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Vezetéknév</mat-label>
                <input matInput formControlName="firstCtrl" placeholder="Vezetéknév" required>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Keresztnév</mat-label>
                <input matInput formControlName="firstCtrl" placeholder="Keresztnév" required>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Nem</mat-label>
                <input matInput formControlName="firstCtrl" placeholder="Nem" required>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Születési dátum</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="firstCtrl" required>
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Település</mat-label>
                <input matInput formControlName="firstCtrl" placeholder="Település" required>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Utca</mat-label>
                <input matInput formControlName="firstCtrl" placeholder="Utca" required>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Házszám</mat-label>
                <input matInput formControlName="firstCtrl" placeholder="Házszám" required>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>E-mail</mat-label>
                <input matInput formControlName="firstCtrl" placeholder="E-mail" required>
            </mat-form-field>
        </div>
        <div>
          <button mat-button matStepperNext type="submit">Tovább</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" [editable]="isEditable">
      <form [formGroup]="secondFormGroup" #userPost="ngForm" (ngSubmit)="onSubmit(userPost.value)">
        <ng-template matStepLabel>Foglalás részletei</ng-template>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Szobatípus</mat-label>
                <mat-select>
                    <mat-option value="primary" >Standard szoba</mat-option>
                    <mat-option value="primary">Deluxe szoba</mat-option>
                    <mat-option value="primary">Executive szoba</mat-option>
                    <mat-option value="primary">Junior lakosztály</mat-option>
                    <mat-option value="primary">Lakosztály</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Érkezés</mat-label>
                <input matInput [matDatepicker]="picker1" formControlName="secondCtrl" required>
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Távozás</mat-label>
                <input matInput [matDatepicker]="picker2"  formControlName="secondCtrl" required>
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Hány főre</mat-label>
                <input type="number"matInput formControlName="secondCtrl" placeholder="Szobatípus"required>
            </mat-form-field>
        </div>
            <div>
                <button mat-button matStepperPrevious>Vissza</button>
          <button mat-button type="submit" matStepperNext>Tovább</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
</mat-stepper>